.sub-header {
    border-bottom: 1px solid var(--header-border);
}

.tab {
    color: var(--accent);
    padding: 5px 10px;
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.tab:hover {
    background-color: var(--tab-bg);
    border: var(--tab-border) 1px solid;
    border-radius: 0.6em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sub-sub-header {
    border-bottom: 1px solid var(--header-border);
}

.sub-tab {
    color: var(--accent);
    padding: 5px 10px;
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sub-tab:hover {
    background: linear-gradient(to top, var(--tab-bg), transparent);
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    border-bottom: var(--accent) 3px solid;
}